form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0;
    height: 350px;
    width: 100%;
    background-color: #B0E0E6;
}

.form-tittle {
    text-align: center;
    padding: 10px 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    width: 40%;
    border-radius: 10px;
    background-color: #E0FFFF;
}


form div {
    padding: 0.5em;
}

form input{
    border: 1px solid #999;
    border-radius: 10px;
    height: 20px;
}

form textarea {
    height: 5rem;
    border-radius: 10px;
}

.button {
    width: 160px;
    height: 40px;
    border: none;
    outline: none;
    background: cornflowerblue;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    box-shadow: 0 6px 20px -5px 
}

.button:hover {
    cursor: pointer;
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition-duration: 350ms;
}

.top-icon {
    text-decoration: none;
    color: white;
    background-color: cornflowerblue;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 4px 4px 12px #333;
}