body {
    font-family: 'Montserrat', sans-serif;
}

.container{
    background-color: cornflowerblue;
}

.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    height: 100px;
}

.icon-list {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    padding: 0  5px;
}

.icon-list:hover{
    color: black;
    font-size: 1.75rem;
    transition-duration: 350ms;
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
    border-color: none;
    background-color: rgb(252, 252, 252);
}

.container-banner {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position:center ;
    background-size: cover;
}

.main-about {
    background-color: #ADC4F0;
}

.container-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
}

.area-image {
    background: url("https://images.pexels.com/photos/4061379/pexels-photo-4061379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 25px;
}

.area-image:hover {
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    transition-duration: 350ms;
}

.card-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 250px;
    height: 250px;
    padding: 2px 8px;
    background-color: #f5f5f5;
    border-radius: 25px;
}

.card-text:hover {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    transition-duration: 350ms;
}

.main-services {
    background-color: #f8f8ff;
}

.container-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url("https://images.pexels.com/photos/1436139/pexels-photo-1436139.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
}

.tittle-services {
    text-align: center;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: bold;
}

.card-banho, .card-tosa, .card-exames {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    padding: 2px 8px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #4E74BA;
}

.card-banho:hover{
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    transition-duration: 350ms;
}

.card-tosa:hover{
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    transition-duration: 350ms;
}


.card-exames:hover{
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    transition-duration: 350ms;
}


.card-banho p {
    line-height: 4rem;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.card-tosa p {
    line-height: 4rem;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.card-exames p {
    line-height: 4rem;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.main-plans {
    background-color: #ADC4F0;
}

.tittle-plans{
    text-align: center;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.container-plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
}

.card-padrao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding: 2px 8px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #E0FFFF;
}

.card-padrao:hover {
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    transition-duration: 350ms;
}

.card-padrao h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.card-padrao p{
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.6rem;
}

.card-premium {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding: 2px 8px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #B0E0E6;
}

.card-premium h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.card-premium p{
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.6rem;
}

.card-premium:hover{
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    transition-duration: 350ms;
}